.destinations-items {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.destinations .section-title hr {
  margin-bottom: 0px;
}

.item {
  width: 312px;
  margin: auto;
}

.img-item img {
  margin-top: 32px;
  width: 312px;
}

.item h4 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 24px 0 24px 0;
}

.item p {
  margin: 24px 0 24px 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 32px;
  color: var(--text-primary-color);
}

.item footer {
  text-align: center;
}

.destinations .button {
  width: 312px;
}

@media screen and (min-width: 768px) {
  .item {
    width: 648px;
    margin: auto;
  }

  .img-item img {
    display: none;
  }

  .img-item.Tokyo {
    background-image: url(../img/Tokyo_Tablet.Desktop.png);
    background-size: cover;
    background-position: center;
    height: 452px;
  }
  .img-item.Osaka {
    background-image: url(../img/Osaka_Tablet.Desktop.png);
    background-size: cover;
    background-position: center;
    height: 452px;
    margin-top: 32px;
  }

  .destinations .button {
    width: 280px;
  }
  .destinations footer {
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .destinations-items {
    flex-direction: row;
    width: 1200px;
    margin: 64px auto 0;
    gap: 24px;
  }
  .item {
    width: 588px;
    margin: auto;
  }

  .img-item.Osaka {
    margin-top: 0;
  }
}
